{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <!-- Agrega la referencia al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'appLigas:home' %}">Ligas Torremolinos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appLigas:listado_deportes' %}">Deportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appLigas:listado_instalaciones' %}">Instalaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appLigas:listado_equipos' %}">Equipos</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'appLigas:listado_instalaciones' %}">Instalaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appLigas:listado_instalaciones' %}">Instalaciones</a>
                </li> {% endcomment %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <!-- Contenido específico de cada página -->
        {% block contenido %}
        {% endblock %}
    </div>
</body>
</html>


{% comment %} {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}{% endblock %}</title>
        {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>{% block cuerpo %}{% endblock %}</body>
</html> {% endcomment %}