{% extends "base.html" %}
{% block titulo %}Eliminar Equipo{% endblock %}

{% block contenido %}
    <div class="card bg-dark text-light mx-auto w-50" style="margin-bottom: 20px;">
        <div class="card-body p-4">
            <h1 style="font-family: 'Rubik', sans-serif; font-optical-sizing: auto; font-weight: 300; font-style: normal; margin-bottom: 1px;">Eliminar Equipo</h1>
            <p style="margin-bottom: 20px;">¿Estás seguro de que quieres eliminar el equipo "{{ equipo.nombre }}" con ID {{ equipo.id_equipo }}?</p>
            <form method="post" class="mt-2" style="margin-bottom: 20px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" style="margin-bottom: 3px; margin-right: 3px">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                    Borrar
                </button>
                <a class="btn btn-secondary btn-md ml-2" href="#" onclick="history.go(-1);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16" style="margin-bottom: 3px;">
                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
                    </svg>
                    Volver
                </a>
            </form>
        </div>
    </div>
{% endblock %}
