{% extends "base.html" %}

{% block titulo %} Pruebas bd {% endblock %}
{% block contenido %}
    <h1>Tabla de Equipos</h1>
    <a href="{% url 'appLigas:crear_equipo' %}">Crear Equipo</a>
    <table style="border-collapse: collapse; width: 80%;">
        <thead class="se">
            <tr style="border: 1px solid black; background-color: #f2f2f2;">
                <th style="text-align: center; border: 1px solid black">ID Equipo</th>
                <th style="text-align: center; border: 1px solid black">Nombre Equipo</th>
                <th style="text-align: center; border: 1px solid black">ID Deporte</th>
                <th style="text-align: center; border: 1px solid black">Equipación Principal</th>
                <th style="text-align: center; border: 1px solid black">Equipación Suplente</th>
                <th style="text-align: center; border: 1px solid black">Contacto</th>
                <th style="text-align: center; border: 1px solid black">Teléfono</th>
                <th style="text-align: center; border: 1px solid black">Email</th>
                <th style="text-align: center; border: 1px solid black">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in object_list %}
            <tr style="border: 1px solid black">
                <td style="text-align: center; border: 1px solid black">{{ equipo.id_equipo }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.nombre }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.id_deporte_id }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.equipacion_principal }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.equipacion_suplente }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.contacto }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.telefono }}</td>
                <td style="text-align: center; border: 1px solid black">{{ equipo.email }}</td>
                <td style="text-align: center; border: 1px solid black">
                    <a href="{% url 'appLigas:editar_equipo' pk=equipo.id_equipo %}">[Editar]</a>
                    <a href="{% url 'appLigas:eliminar_equipo' pk=equipo.id_equipo %}">[Borrar]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
{% endblock %}